@(users: List[mef.entities.User], userForm: Form[UserModel], errMsg: String, flashMsg: String)

@import helper._

@main("Users list") {
    
 @flash.get("flash_content")   
    
    
    <h2>Create a new user</h2>
    
    <div>flash: @flashMsg</div>
    <div>errors: @errMsg</div>
    
    @form(routes.UserC.createUser()) {
        
        @helper.inputText(userForm("name"))
        <input type="submit" value="Create">
        
    }
    

        <a class="brand" href="/logout">play-example-form</a><br/>

}