@(users: List[mef.entities.User], userForm: Form[UserModel])

@import helper._

@main("Users list") {
    
 @if(flash.containsKey("success")) {
        <div 
        <strong>Done!</strong> @flash.get("success")
        </div>
    }  else {
    <div> no flash </div>
    } 
    
    <h1>@users.size() users(s)</h1>
    
    <ul>
        @for(user <- users) {
            <li>
				<div>
                @user.name  @user.id   @if(user.phone == null) {
                                <em>---</em>
                            } else {
                                @user.phone.name
                            }
				<a href="@routes.UserC.edit(user.id)">Edit User</a>
				<a href="@routes.UserC.show(user.id)">Show</a>
				@form(routes.UserC.deleteUser(user.id)) {
                    <input type="submit" value="Delete">
                }
                </div>
				<br/>
				
            </li>
        }
    </ul>
    

        <a class="brand" href="/logout">play-example-form</a><br/>
 	<a class="brand" href="/users/new">New User...</a>   
}