@(users: List[mef.entities.User], userForm: Form[UserModel], id: Long, 
	errMsg: String, flashMsg: String, xoptions: Map[String,String])

@import helper._

@main("Users list") {
    
 @flash.get("flash_content")   
    
    
    <h2>Edit user</h2>
   <div>flash: @flashMsg</div>
    <div>errors: @errMsg</div>
    
    @form(routes.UserC.updateUser(id)) {
        
        @helper.inputText(userForm("name"))
        
        
 @select(       userForm("phone.id"), 
                options(xoptions), 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )        
        
        <input type="submit" value="Savex">
        
    }
    

        <a class="brand" href="/logout">play-example-form</a><br/>

}