@(entities: List[org.mef.framework.auth.AuthSubject])

@import helper._



@main("User list") {

 @if(flash.containsKey("success")) {
        <div 
        <strong>Done!</strong> @flash.get("success")
        </div>
    }  else {
    <div> no flash </div>
    } 

    <h1>@entities.size() User(s). </h1>

    <ul>
        @for(cc <- entities) {
            <li>
				<div>
                @cc.name  @cc.id   
                </div>
				<br/>

            </li>
        }
    </ul>

        <br/>






}
