@(currentPage: com.avaje.ebean.Page[Computer])

@import helper._

@main("Computer list") {
    
 @if(flash.containsKey("success")) {
        <div 
        <strong>Done!</strong> @flash.get("success")
        </div>
    }  else {
    <div> no flash </div>
    } 
    
    <h1>@currentPage.getList.size computers(s)</h1>
    
    <ul>
        @for(cc <- currentPage.getList) {
            <li>
				<div>
                @cc.name  @cc.id   
                </div>
				<br/>
				
            </li>
        }
    </ul>
}