@(users: List[mef.entities.User], userForm: Form[UserModel], xoptions: Map[String,String])

@import helper._

@main("Users list") {
    
    
    <h2>Create a new user</h2>
    
@if(flash.containsKey("fail")) {
        <div 
        <strong>Oops!</strong> @flash.get("fail")
        </div>
    }  else {
    <div> no flash </div>
    } 
        
    
    @form(routes.UserC.createUser()) {
        
        @helper.inputText(userForm("name"))
        
 @select(       userForm("phone.id"), 
                options(xoptions), 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )    
                    
        <input type="submit" value="Create">
        
    }
    

        <a class="brand" href="/logout">play-example-form</a><br/>

}