@(userForm: Form[models.UserModel], id:Long)

@import helper._

@main("Edit user") {
    
    
    <h2>Create a new user</h2>
    
@if(flash.containsKey("fail")) {
        <div 
        <strong>Oops!</strong> @flash.get("fail")
        </div>
    }  else {
    <div> no flash </div>
    } 
        
    
    @form(routes.UserController.update(id)) {
        
        @helper.textarea(userForm("name"),args = 'rows -> 10, 'cols -> 80);
        
        <input type="submit" value="Save">
        
    }
    


}